<div class="overlay">

  <header [ngClass]="{ 'scrolled': isScrolled }">
    <div class="header">
      <a [routerLink]="['/']" class="logo">
        <img class="logo-img" src="assets/logo.svg">
        <div class="info">
          <h1 class="title">ООО «СТЭМ КОМПАНИ РУС»</h1>
        </div>
      </a>

      <nav class="menu">
        <ul>
          <li>
            <a [routerLink]="['/']">ГЛАВНАЯ</a>
          </li>
          <li>
            <a [routerLink]="['/catalog']">КАТАЛОГ</a>
          </li>
          <li>
            <a [routerLink]="['cart']">КОРЗИНА</a>
          </li>
        </ul>
      </nav>

      <nav class="menu-mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button-mobile">
          <img src="assets/nav.svg">
        </button>
        <mat-menu class="menu-list-mobile" xPosition="before" #menu="matMenu">
          <button mat-menu-item [routerLink]="['/']">ГЛАВНАЯ</button>
          <button mat-menu-item [routerLink]="['catalog']">КАТАЛОГ</button>
          <button mat-menu-item [routerLink]="['cart']">КОРЗИНА</button>
        </mat-menu>
      </nav>
    </div>
  </header>

  <div class="child">
    <div class="info">
      <p class="phone-email">+7 (916) 825-92-22</p>
      <p class="phone-email">stem.kompanyrus&#64;mail.ru</p>

    </div>

    <a target="_blank" rel="noopener noreferrer" [href]="url + 'paper-catalog.pdf'" class="catalog-link">Скачать каталог</a>
  </div>

</div>
