@import "../../colors";
@import "../../breakpoints";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.overlay {
  min-height: 350px;
  background-image: url("../../assets/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  box-shadow: 0 20px 50px 0 rgba(68, 68, 68, 0.2);

  header.scrolled {
    background-color: $green;
  }

  header {
    color: $light-grey;

    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      padding: 15px 0;
      margin: 0 auto;
      align-items: center;

      @media (max-width: $breakpoint-lg) {
        width: 90%;
      }

      .logo {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;

        .logo-img {
          height: 74px;
        }

        .info {
          display: flex;
          flex-direction: column;
          max-width: 400px;

          .title, .title-info {
            margin: 0;
          }

          .title {
            font-size: 1.7rem;
          }

          .title-info {
            font-weight: 300;
          }

          @media (max-width: $breakpoint-md) {
            max-width: 310px;

            .title {
              font-size: 1.2rem;
            }
          }
        }
      }

      @media (max-width: $breakpoint-sm) {
        .logo-img {
          display: none;
        }

        .title-info {
          display: none;
        }
      }

      .menu-mobile {
        display: none;
      }

      .menu {
        ul {
          display: flex;
          flex-direction: row;
          gap: 30px;

          a {
            font-size: 1.3rem;
          }

          @media (max-width: $breakpoint-md) {
            gap: 20px;

            a {
              font-size: 1rem;
            }
          }
        }
      }

      @media (max-width: $breakpoint-sm) {
        .menu-mobile {
          display: block;
        }

        .menu {
          display: none;
        }
      }
    }
  }


  .child {
    position: absolute;
    bottom: 0;
    top: 100px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $breakpoint-lg) {
      width: 90%;

    }

    @media (max-width: $breakpoint-sm) {
      top: 70px;
    }

    .info {
      color: white;
      position: absolute;
      top: 0;
      right: 0;

      p {
        text-align: end;
        margin: 0;
      }

      .phone {
        font-weight: 700;
      }

      .phone-info {
        font-weight: 300;
      }
    }
  }
}






