<main>
  <h2>{{ item.name_rus | uppercase }}</h2>
  <div class="item">
    <img [src]="url+item.img_scheme_path">
    <form [formGroup]="itemForm" (ngSubmit)="onAddToCart()">
      <div class="sizes">
        @for (size of item.sizes; track size.size_name; let idx = $index) {
          <div class="size">
            <h4>{{ size.size_name }}</h4>
            <mat-button-toggle-group [formControlName]="size.size_name">
              @for (contain of size.contain_sizes; track contain) {
                @if (idx < item.sizes.length - 1) {
                  <mat-button-toggle [value]="contain" [disabled]="!isSizeAvailable(size.size_name, contain)"
                                     (change)="onSizeChange(size.size_name, $event.value)">{{ contain }}
                  </mat-button-toggle>
                } @else {
                  <mat-button-toggle [value]="contain"
                                     [disabled]="!isSizeAvailable(size.size_name, contain)">{{ contain }}
                  </mat-button-toggle>
                }
              }
            </mat-button-toggle-group>
          </div>
        }
      </div>
      <div class="input-and-button">
        <mat-form-field class="quantity">
          <input matInput type="number" formControlName="quantity">
          <span matSuffix>шт.</span>
        </mat-form-field>
        <button mat-button type="submit" [disabled]="itemForm.invalid" class="cart">Добавить в корзину</button>
      </div>
    </form>
  </div>
</main>
