<main>
  <div class="cart">
    <div class="head">
      <h3 class="head-item">Товар</h3>
      <h3 class="head-quantity">Количество</h3>
    </div>
    <div class="products">
      @for (item of productsInBasket; track item; let idx = $index) {
        <div class="item">
          <div class="item_info">
            <img [src]="url + item.img_path">
            <div class="info">
              <h4 class="name">{{ item.name_rus | uppercase }}</h4>
              @for (property of item.propertiesArray; track property) {
                <p class="property">{{ property.size_name }}: {{ property.size }}</p>
              }
            </div>
          </div>
          <div class="quantity-delete">
            <mat-form-field class="quantity">
              <input matInput type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity($event, idx)" min="1" required>
              <span matSuffix>шт.</span>
            </mat-form-field>
            <button mat-button (click)="removeFromCart(idx)">Удалить</button>
          </div>
        </div>
      }
    </div>
    <div class="buy">
      <form [formGroup]="purchaseForm" #purchase="ngForm" (ngSubmit)="sendCart()" class="purchase-form">
        <mat-form-field class="name">
          <mat-label>Ваше имя</mat-label>
          <input matInput formControlName="name" type="text">
        </mat-form-field>

        <mat-form-field class="phone">
          <mat-label>Ваш телефон</mat-label>
          <span matTextPrefix>+7 &nbsp;</span>
          <input matInput formControlName="phone" type="tel" placeholder="(___)___-__-__" maxlength="10">
          @if (purchaseForm.hasError('atLeastOneRequired')) {
            <mat-hint align="start">Заполните поле с номером телефона или электронной почтой</mat-hint>
          }
        </mat-form-field>

        <mat-form-field class="email">
          <mat-label>Электронная почта</mat-label>
          <input matInput formControlName="email" type="email" placeholder="example@example.com">
          @if (purchaseForm.hasError('atLeastOneRequired')) {
            <mat-hint align="start">Заполните поле с номером телефона или электронной почтой</mat-hint>
          }
        </mat-form-field>

        <button mat-button type="submit" [disabled]="purchaseForm.invalid">
          @if (isLoadingSendCart) {
            <mat-spinner [diameter]="20"></mat-spinner>
          } @else {
            Купить
          }
        </button>
      </form>

    </div>
  </div>
</main>

